<footer class="footer dark-theme">
    <div class="container">
        <div class="footer__grid">
            <partial name="_FooterMenuPartial" />
            <div>
                <div class="footer__services">
                    <div class="footer__social-buttons">
                        <a class="button button_with-margin" tabindex="0" href="/contact">
                            <span class="button__label">Написать нам</span>
                        </a>
                        <div class="social-buttons white">
                            <div class="item">
                                <a href="https://t.me/xlombardbot" rel="noopener noreferrer">
                                    <img src="/images/icons/telegram-white.png" alt="">
                                </a>
                            </div>
                            <div class="item">
                                <a href="#" rel="noopener noreferrer">
                                    <img src="/images/icons/vk.svg" alt="">
                                </a>
                            </div>
                            <div class="item">
                                <a href="#" rel="noopener noreferrer">
                                    <img style="width: 24px; height: 24px" src="/images/icons/odnoklassniki.svg" alt="">
                                </a>
                            </div>
                            <div class="item">
                                <a href="#" rel="noopener noreferrer">
                                    <img src="/images/icons/youtube.svg" alt="">
                                </a>
                            </div>
                            <div class="item">
                                <a href="#" rel="noopener noreferrer">
                                    <img style="background-color: #fff;" src="/images/icons/yandex-zen.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="square-animation-container">
                    <div class="visually-empaired-block">
                        <div class="bottom__content">
                            <span>
                                Проект команды <a href="https://xlombard.ru">XLombard</a>&nbsp;&mdash;&nbsp;системы комплексной автоматизации<br />автоломбардов
                            </span>
                            <div class="bottom__year">&nbsp;</div>
                            <div>
                                <a class="bottom__links" href="/about">О нас</a>
                                <a class="bottom__links" href="/privacy">Пользовательское<br />соглашение</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>