<footer class="footer dark-theme">
    <div class="container">
        <div class="footer__grid">
            <div class="pages-menu">
                <div class="pages-menu__links">
                    <div class="pages-menu__links-title">
                        <a class="h3" data-hover="Статьи" href="/articles">Статьи</a>
                    </div>
                    <div>Всё о&nbsp;автоломбардах</div>
                </div>
                <div class="pages-menu__links">
                    <div class="pages-menu__links-title">
                        <a class="h3" data-hover="Симулятор" href="/articles/finance-simulation">Симулятор</a>
                    </div>
                    <div>Экономическая модель автоломбарда</div>
                </div>
                <div class="pages-menu__links">
                    <div class="pages-menu__links-title">
                        <a class="h3" data-hover="Преподавательская" href="#">Преподавательская</a>
                    </div>
                    <div>Для&nbsp;учителей, тьюторов и&nbsp;волонтеров финансового просвещения</div>
                </div>
                <div class="pages-menu__links">
                    <div class="pages-menu__links-title">
                        <a class="h3" data-hover="Мероприятия" href="#">Мероприятия</a>
                    </div>
                    <div>
                        Расписание вебинаров, мастер-классов и&nbsp;конференций по&nbsp;финансовым темам
                    </div>
                </div>
                <div class="pages-menu__links">
                    <div class="pages-menu__links-title">
                        <a class="h3" data-hover="Игровая" href="#">Игровая</a>
                    </div>
                    <div>Для&nbsp;детей и&nbsp;не&nbsp;только</div>
                </div>
                <div class="pages-menu__links">
                    <div class="pages-menu__links-title">
                        <a class="h3" data-hover="Грабли" href="#">Грабли</a>
                    </div>
                    <div>Каталог мошеннических схем, на&nbsp;которые лучше не&nbsp;наступать</div>
                </div>
                <div class="pages-menu__links">
                    <div class="pages-menu__links-title">
                        <a class="h3" data-hover="Новости" href="#">Новости</a>
                    </div>
                    <div>Последние события, которые могут коснуться вашего кошелька</div>
                </div>
            </div>
            <div>
                <div class="footer__services">
                    <div class="footer__social-buttons">
                        <a class="button button_with-margin" tabindex="0" href="/contact">
                            <span class="button__label">Написать нам</span>
                        </a>
                        <div class="social-buttons white">
                            <div class="item">
                                <a href="#" rel="noopener noreferrer" target="_blank">
                                    <img src="/images/icons/telegram.png" alt="">
                                </a>
                            </div>
                            <div class="item">
                                <a href="#" rel="noopener noreferrer" target="_blank">
                                    <img src="/images/icons/vk.svg" alt="">
                                </a>
                            </div>
                            <div class="item">
                                <a href="#" rel="noopener noreferrer" target="_blank">
                                    <img style="width: 24px; height: 24px" src="/images/icons/odnoklassniki.svg" alt="">
                                </a>
                            </div>
                            <div class="item">
                                <a href="#" rel="noopener noreferrer" target="_blank">
                                    <img src="/images/icons/youtube.svg" alt="">
                                </a>
                            </div>
                            <div class="item">
                                <a href="#" rel="noopener noreferrer" target="_blank">
                                    <img style="background-color: #fff;" src="/images/icons/yandex-zen.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="square-animation-container">
                    <div class="visually-empaired-block">
                        <div class="bottom__content">
                            <span>
                                Проект команды<br />XLombard&mdash;системы комплексной автоматизации<br />автоломбардов
                            </span>
                            <div class="bottom__year">&nbasp;</div>
                            <div>
                                <a class="bottom__links" href="/about">О нас</a>
                                <a class="bottom__links" href="/pricacy">Пользовательское<br />соглашение</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>