<footer class="footer dark-theme">
    <div class="container">
        <div class="footer__grid">
            <div class="pages-menu">
                <div class="pages-menu__links">
                    <div class="pages-menu__links-title">
                        <a class="h3" data-hover="Статьи" href="/article/">Статьи</a>
                    </div>
                    <div>Всё о&nbsp;автоломбардах</div>
                </div>
                <div class="pages-menu__links">
                    <div class="pages-menu__links-title">
                        <a class="h3" data-hover="Симулятор" href="/articles/finance-simulation">Симулятор</a>
                    </div>
                    <div>Экономическая модель автоломбарда</div>
                </div>
                <div class="pages-menu__links">
                    <div class="pages-menu__links-title">
                        <a class="h3" data-hover="Преподавательская" href="#">Преподавательская</a>
                    </div>
                    <div>Для&nbsp;учителей, тьюторов и&nbsp;волонтеров финансового просвещения</div>
                </div>
                <div class="pages-menu__links">
                    <div class="pages-menu__links-title">
                        <a class="h3" data-hover="Мероприятия" href="#">Мероприятия</a>
                    </div>
                    <div>Расписание вебинаров, мастер-классов и&nbsp;конференций по&nbsp;финансовым темам</div>
                </div>
                <div class="pages-menu__links">
                    <div class="pages-menu__links-title">
                        <a class="h3" data-hover="Игровая" href="#">Игровая</a>
                    </div>
                    <div>Для&nbsp;детей и&nbsp;не&nbsp;только</div>
                </div>
                <div class="pages-menu__links">
                    <div class="pages-menu__links-title">
                        <a class="h3" data-hover="Грабли" href="#">Грабли</a>
                    </div>
                    <div>Каталог мошеннических схем, на&nbsp;которые лучше не&nbsp;наступать</div>
                </div>
                <div class="pages-menu__links">
                    <div class="pages-menu__links-title">
                        <a class="h3" data-hover="Новости" href="#">Новости</a>
                    </div>
                    <div>Последние события, которые могут коснуться вашего кошелька</div>
                </div>
            </div>
            <div>
                <div class="footer__services">
                    <div class="footer__social-buttons">
                        <a class="button button_with-margin" tabindex="0" href="#"><span class="button__label">Написать нам</span></a>
                        <div class="social-buttons white">
                            <div class="item">
                                <a href="#" rel="noopener noreferrer" target="_blank"><span class="icon-telegram"></span></a>
                            </div>
                            <div class="item">
                                <a href="#" rel="noopener noreferrer" target="_blank"><span class="icon-vk"></span></a>
                            </div>
                            <div class="item">
                                <a href="#" rel="noopener noreferrer" target="_blank"><span class="icon-ok"></span></a>
                            </div>
                            <div class="item">
                                <a href="#" rel="noopener noreferrer" target="_blank"><span class="icon-youtube"></span></a>
                            </div>
                            <div class="item">
                                <a href="#" rel="noopener noreferrer" target="_blank"><span class="icon-zen"></span></a>
                            </div>
                            <div class="item">
                                <a href="#" rel="noopener noreferrer" target="_blank"><span class="icon-q"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="square-animation-container">
                    <div class="square-animation-container__container" style="transform: translate3d(0px, 0px, 0px) rotate(-15deg); transform-style: preserve-3d; will-change: transform;">
                        <div class="image-mask">
                            <div class="image-mask__container">
                                <svg><clipPath id="mask" clipPathUnits="objectBoundingBox"><path d="M0.001,0.501 C0.001,0.126,0.126,0.001,0.501,0.001 C0.876,0.001,1,0.126,1,0.501 C1,0.876,0.876,1,0.501,1 C0.126,1,0.001,0.876,0.001,0.501"></path></clipPath></svg>
                                <div class="image-mask__mask">
                                    <div class="square-animation-container__context">
                                        <div>Проект Центрального банка Российской Федерации</div><span class="icon-cbr-logo"></span>
                                        <div class="central-bank-project__links">
                                            <div><a class="black" href="#">О&nbsp;сайте</a></div>
                                            <div><a class="black" href="#">Пользовательское соглашение</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>