<footer class="footer dark-theme">
    <div class="container">
        <div class="footer__grid">
            <div class="pages-menu">
                <div class="pages-menu__links">
                    <div class="pages-menu__links-title">
                        <a class="h3" data-hover="Аналитика" href="/analytics">Аналитика</a>
                    </div>
                    <div>Данные для принятий верных решений</div>
                </div>
                <div class="pages-menu__links">
                    <div class="pages-menu__links-title">
                        <a class="h3" data-hover="Статьи" href="/articles">Статьи</a>
                    </div>
                    <div>Всё о&nbsp;автоломбардах</div>
                </div>
                <div class="pages-menu__links">
                    <div class="pages-menu__links-title">
                        <a class="h3" data-hover="Симулятор" href="/finance-simulation">Симулятор</a>
                    </div>
                    <div>Экономическая модель автоломбарда</div>
                </div>
                <div class="pages-menu__links">
                    <div class="pages-menu__links-title">
                        <a class="h3" data-hover="ЧаВо" href="/articles/voprosi-i-otvety">ЧаВо</a>
                    </div>
                    <div>Часто задаваемые вопросы и ответы на них</div>
                </div>
                <div class="pages-menu__links">
                    <div class="pages-menu__links-title">
                        <a class="h3" data-hover="Чем можем попочь" href="/articles/pomosch-pri-otkrytii-lombarda">Помощь здесь</a>
                    </div>
                    <div>Помощь предпринимателям при открытии автоломбарда</div>
                </div>
                <div class="pages-menu__links">
                    <div class="pages-menu__links-title">
                        <h3>Важные статьи</h3>
                    </div>
                    <a data-hover="Схемы автоломбардов" href="/articles/svodnaya-tablitsa-shem-avtolombardov">Схемы автоломбардов</a><span>, </span><a data-hover="пакеты документов" href="/articles/primery-paketov-dokumentov">пакеты документов</a><span>, </span><a data-hover="сотрудники" href="/articles/kakie-nuzhni-sotrudniki-v-avtolombard">кого нанять</a><span>, а&nbsp;также </span><a data-hover="частые ошибки" href="/articles/oshibki-pri-otkrytii-avtolombarda">частые ошибки</a>
                </div>
                <div class="pages-menu__links">
                    <div class="pages-menu__links-title">
                        <a class="h3" data-hover="Комьюнити" href="/community">Комьюнити</a>
                    </div>
                    <div>С кем и где можно пообщаться на тему автоломбарда</div>
                </div>
            </div>
            <div>
                <div class="footer__services">
                    <div class="footer__social-buttons">
                        <a class="button button_with-margin" tabindex="0" href="/contact">
                            <span class="button__label">Написать нам</span>
                        </a>
                        <div class="social-buttons white">
                            <div class="item">
                                <a href="https://t.me/xlombardbot" rel="noopener noreferrer">
                                    <img src="/images/icons/telegram.png" alt="">
                                </a>
                            </div>
                            <div class="item">
                                <a href="#" rel="noopener noreferrer">
                                    <img src="/images/icons/vk.svg" alt="">
                                </a>
                            </div>
                            <div class="item">
                                <a href="#" rel="noopener noreferrer">
                                    <img style="width: 24px; height: 24px" src="/images/icons/odnoklassniki.svg" alt="">
                                </a>
                            </div>
                            <div class="item">
                                <a href="#" rel="noopener noreferrer">
                                    <img src="/images/icons/youtube.svg" alt="">
                                </a>
                            </div>
                            <div class="item">
                                <a href="#" rel="noopener noreferrer">
                                    <img style="background-color: #fff;" src="/images/icons/yandex-zen.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="square-animation-container">
                    <div class="visually-empaired-block">
                        <div class="bottom__content">
                            <span>
                                Проект<br />команды <a href="https://xlombard.ru">XLombard</a>&nbsp;&mdash;&nbsp;системы комплексной автоматизации<br />автоломбардов
                            </span>
                            <div class="bottom__year">&nbsp;</div>
                            <div>
                                <a class="bottom__links" href="/about">О нас</a>
                                <a class="bottom__links" href="/privacy">Пользовательское<br />соглашение</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>