<header class="light-theme scroll-header">
    <div class="pseudo-header"></div>
    <div class="container">
        <div class="header-nav">
            <div class="logo logo_alternative" style="padding-top: 5px;">
                <a href="/">
                    <div class="logo__analyt"></div>
                </a>
            </div>
            <nav class="nav">
                <span class="nav__item dark__nav-item">
                    <div class="nav__item_container nav__item-anal-simul">
                        <a href="/analytics">Аналитика</a>
                    </div>
                </span>
                <span class="nav__item dark__nav-item">
                    <div class="nav__item_container nav__item-anal-simul">
                        <a href="/articles/finance-simulation">Симуляция</a>
                    </div>
                </span>
                <span class="nav__item dark__nav-item">
                    <div class="nav__item_container nav__item-articles">
                        <a href="/articles">Статьи</a>
                    </div>
                </span>
                <span class="nav__item dark__nav-item">
                    <div class="nav__item_container nav__item-articles">
                        <a href="/articles/voprosi-i-otvety">ЧаВо</a>
                    </div>
                </span>
                <span class="nav__item dark__nav-item">
                    <div class="nav__item_container nav__item-teaching">
                        <a href="/articles/pomosch-pri-otkrytii-lombarda">Можем вам помочь</a>
                    </div>
                </span>
            </nav>
            <div class="burger">&#9776;</div>
        </div>
    </div>
</header>