<html lang="ru">
<head>
    <base href="/">
    <meta name="fragment" content="!">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-title" content="Как открыть автоломбард">
    <meta name="application-name" content="Как открыть автоломбард">
    <meta name="prerender-status-code" content="200">
    <meta name="viewport" content="width=device-width,initial-scale=1,min-scale=1">

    <title>@ViewData["Title"]</title>
    <meta name="keywords" content="">
    <meta name="description" content="">

    @*<link rel="icon" type="image/x-icon" href="/favicon.ico">
        <link rel="mask-icon" href="/f/dist/favicons/safari-pinned-tab.svg" color="#000000">
        <link rel="apple-touch-icon" sizes="180x180" href="/f/dist/favicons/apple-touch-icon.png">
        <link rel="manifest" href="/f/dist/favicons/site.webmanifest">
        <meta property="og:type" content="website">
        <meta property="og:image:type" content="image/png">
        <meta property="og:image:width" content="1024">
        <meta property="og:image:height" content="1024">
        <meta name="twitter:card" content="summary_large_image">
        <meta property="og:title" content="Как заложить машину в ломбард и не потерять ее">
        <meta name="twitter:title" content="Как заложить машину в ломбард и не потерять ее">
        <meta property="og:description" content="Можно ли получить в автоломбарде заем под залог ПТС и чем отличаются условия ломбардов и МФО">
        <meta name="twitter:description" content="Можно ли получить в автоломбарде заем под залог ПТС и чем отличаются условия ломбардов и МФО">
        <meta property="og:image" content="/upload/iblock/73e/1656499277_62bc2c4d0d17a.png">
        <meta name="twitter:image" content="/upload/iblock/73e/1656499277_62bc2c4d0d17a.png">*@

    <link href="/css/style1.css" rel="stylesheet">
    <link href="/css/style2.css" rel="stylesheet">
</head>
<body class="chrome chrome103" style="">
    <div id="root">
        <div>
            <header class="light-theme">
                <div class="pseudo-header"></div><div class="container">
                    <div class="header-nav">
                        <div class="logo logo_alternative" style="padding-top: 5px;">
                            <a href="/">
                                <img src="/favicons/logo4.png" alt="Как открыть Автоломбард">
                            </a>
                        </div>
                        <nav class="nav">
                            <span class="nav__item">
                                <div class="nav__item_container nav__item-anal-simul">
                                    <a href="/analytics">Аналитика</a>
                                    <svg width="165" height="38" viewBox="0 0 165 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 19C1 12.0229 2.66259 7.67509 6.53288 4.97654C10.5144 2.20046 17.0431 1 27.25 1H190.75C200.957 1 207.486 2.20046 211.467 4.97654C215.337 7.67509 217 12.0229 217 19C217 25.9771 215.337 30.3249 211.467 33.0235C207.486 35.7995 200.957 37 190.75 37H27.25C17.0431 37 10.5144 35.7995 6.53288 33.0235C2.66259 30.3249 1 25.9771 1 19Z" stroke="#FAC91B" stroke-width="2"></path>
                                    </svg>
                                </div>
                            </span>
                            <span class="nav__item">
                                <div class="nav__item_container nav__item-anal-simul">
                                    <a href="/articles/finance-simulation">Симуляция</a>
                                    <svg width="165" height="38" viewBox="0 0 165 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 19C1 12.0229 2.66259 7.67509 6.53288 4.97654C10.5144 2.20046 17.0431 1 27.25 1H190.75C200.957 1 207.486 2.20046 211.467 4.97654C215.337 7.67509 217 12.0229 217 19C217 25.9771 215.337 30.3249 211.467 33.0235C207.486 35.7995 200.957 37 190.75 37H27.25C17.0431 37 10.5144 35.7995 6.53288 33.0235C2.66259 30.3249 1 25.9771 1 19Z" stroke="#FAC91B" stroke-width="2"></path>
                                    </svg>
                                </div>
                            </span>
                            <span class="nav__item">
                                <div class="nav__item_container nav__item-articles">
                                    <a href="/articles/">Статьи</a>
                                    <svg fill="none" height="38" width="93" viewBox="0 0 93 38" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 18.75C1 11.7969 2.3075 7.48345 5.25977 4.8475C8.24641 2.18085 13.1625 1 21 1H72C79.8375 1 84.7536 2.18085 87.7402 4.8475C90.6925 7.48345 92 11.7969 92 18.75C92 25.7031 90.6925 30.0166 87.7402 32.6525C84.7536 35.3191 79.8375 36.5 72 36.5H21C13.1625 36.5 8.24641 35.3191 5.25977 32.6525C2.3075 30.0166 1 25.7031 1 18.75Z" stroke="#fac91b" stroke-width="2"></path>
                                    </svg>
                                </div>
                            </span>
                            <span class="nav__item">
                                <div class="nav__item_container nav__item-articles">
                                    <a href="/articles/voprosi-i-otvety">ЧаВо</a>
                                    <svg fill="none" height="38" width="93" viewBox="0 0 93 38" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 18.75C1 11.7969 2.3075 7.48345 5.25977 4.8475C8.24641 2.18085 13.1625 1 21 1H72C79.8375 1 84.7536 2.18085 87.7402 4.8475C90.6925 7.48345 92 11.7969 92 18.75C92 25.7031 90.6925 30.0166 87.7402 32.6525C84.7536 35.3191 79.8375 36.5 72 36.5H21C13.1625 36.5 8.24641 35.3191 5.25977 32.6525C2.3075 30.0166 1 25.7031 1 18.75Z" stroke="#fac91b" stroke-width="2"></path>
                                    </svg>
                                </div>
                            </span>
                            <span class="nav__item">
                                <div class="nav__item_container nav__item-teaching">
                                    <a href="/articles/pomosch-pri-otkrytii-lombarda">Можем вам помочь</a>
                                    <svg width="218" height="38" viewBox="0 0 218 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 19C1 12.0229 2.66259 7.67509 6.53288 4.97654C10.5144 2.20046 17.0431 1 27.25 1H190.75C200.957 1 207.486 2.20046 211.467 4.97654C215.337 7.67509 217 12.0229 217 19C217 25.9771 215.337 30.3249 211.467 33.0235C207.486 35.7995 200.957 37 190.75 37H27.25C17.0431 37 10.5144 35.7995 6.53288 33.0235C2.66259 30.3249 1 25.9771 1 19Z" stroke="#FAC91B" stroke-width="2"></path>
                                    </svg>
                                </div>
                            </span>
                        </nav>
                    </div>
                </div>
            </header>
            <main class="main" style="top: -780px;">
                @RenderBody()
            </main>
            <partial name="_FooterPartial" />
        </div>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>