<div class="modal" style="padding-right: 0px;">
    <div class="close-modal">
        <div class="close-modal__container">&#10006;</div>
    </div>
    <div class="container">
        <div class="modal-content">
            <div class="modal-menu">
                <div class="logo">
                    <a href="/"><img src="/images/icons/logo-black.png" alt=""></a>
                </div>
                <div></div>
                <div class="modal-menu__container">
                    <div>
                        <div class="pages-menu">
                            <div class="pages-menu__links">
                                <div class="pages-menu__links-title">
                                    <a class="h3" data-hover="Статьи" href="/articles/">Статьи</a>
                                </div>
                                <div>Всё о&nbsp;финансах</div>
                            </div>
                            <div class="pages-menu__links">
                                <div class="pages-menu__links-title">
                                    <h3>Калькуляторы</h3>
                                </div>
                                <a data-hover="Инфляции" href="/calc/inflation/#personal-inflation">Инфляции</a><span>, </span>
                                <a data-hover="депозитный" href="/calc/deposit/">депозитный</a><span>,</span>
                                <a data-hover="кредитный" href="/calc/loan/#amount">кредитный</a><span>, а&nbsp;также</span>
                                <a data-hover="тест заемщика" href="/calc/borrower/#payment">тест заемщика</a>
                            </div>
                            <div class="pages-menu__links">
                                <div class="pages-menu__links-title">
                                    <a class="h3" data-hover="Преподавательская" href="/teaching/">Преподавательская</a>
                                </div>
                                <div>Для&nbsp;учителей, тьюторов и&nbsp;волонтеров финансового просвещения</div>
                            </div>
                            <div class="pages-menu__links">
                                <div class="pages-menu__links-title">
                                    <a class="h3" data-hover="Мероприятия" href="/events/">Мероприятия</a>
                                </div>
                                <div>
                                    Расписание вебинаров, мастер-классов и&nbsp;конференций по&nbsp;финансовым
                                    темам
                                </div>
                            </div>
                            <div class="pages-menu__links">
                                <div class="pages-menu__links-title">
                                    <a class="h3" data-hover="Игровая" href="/entertainment/">Игровая</a>
                                </div>
                                <div>Для&nbsp;детей и&nbsp;не&nbsp;только</div>
                            </div>
                            <div class="pages-menu__links">
                                <div class="pages-menu__links-title">
                                    <a class="h3" data-hover="Грабли" href="/rake/">Грабли</a>
                                </div>
                                <div>Каталог мошеннических схем, на&nbsp;которые лучше не&nbsp;наступать</div>
                            </div>
                            <div class="pages-menu__links">
                                <div class="pages-menu__links-title">
                                    <a class="h3" data-hover="Новости" href="/news/">Новости</a>
                                </div>
                                <div>Последние события, которые могут коснуться вашего кошелька</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>