@*<ul class="tags links">
    <li class="tag"><a href="/articles/?tags=1558">Начать бизнес</a></li>
    <li class="tag"><a href="/articles/?tags=69">Планирование</a></li>
    <li class="tag"><a href="/articles/?tags=12419">Свое дело</a></li>
    <li class="tag"><a href="/articles/?tags=12415">Самозанятые</a></li>
    <li class="tag"><a href="/articles/?tags=1995">ИП</a></li>
</ul>*@