<section>
    <div class="section__title">
        <h3 class="text-center">Смотрите также</h3>
    </div>
    @*<section>
        <div class="card-list with-max-width">
            <ul class="card-list__list">
                <li class="card card-list__card">
                    <div class="card__detail"><h4><a href="/news/zakon-ogranichit-pereplatu-po-ipoteke/">Закон ограничит переплату по&nbsp;ипотеке</a></h4></div>
                </li>
                <li class="card card-list__card"><div class="card__detail"><h4><a href="/news/limit-na-perevod-valyuty-za-rubezh-uvelichilsya-do-1-mln-dollarov-ssha/">Лимит на&nbsp;перевод валюты за&nbsp;рубеж увеличился до&nbsp;1&nbsp;млн долларов США</a></h4></div></li>
                <li class="card card-list__card"><div class="card__detail"><h4><a href="/news/v-rossii-poyavilis-novye-storublevye-banknoty/">В&nbsp;России появились новые сторублевые банкноты</a></h4></div></li>
                <li class="card card-list__card"><div class="card__detail"><h4><a href="/news/klienty-bankov-smogut-stavit-zapret-na-onlayn-kredity-chtoby-zashchititsya-ot-moshennikov/">Клиенты банков смогут ставить запрет на&nbsp;онлайн-кредиты, чтобы защититься от&nbsp;мошенников</a></h4></div></li>
            </ul>
        </div>
    </section>*@
    <section>
        <div class="card-list with-max-width">
            <style>
                .background-image-1475 {
                    background-image: url('/images/list1.jpeg');
                }

                .background-image-2065 {
                    background-image: url('/images/list2.jpeg');
                }

                .background-image-1562 {
                    background-image: url('/images/list3.jpeg');
                }

                .background-image-2037 {
                    background-image: url('/images/list4.jpeg');
                }

                .background-image-2038 {
                    background-image: url('/images/list5.jpeg');
                }

                .background-image-2039 {
                    background-image: url('/images/list6.jpeg');
                }

                .background-image-2040 {
                    background-image: url('/images/list7.jpeg');
                }

                .background-image-2041 {
                    background-image: url('/images/list8.jpeg');
                }
            </style>
            <ul class="card-list__list">
                <li class="card card-list__card">
                    <div class="card__picture-wrapper" style="clip-path: url(&quot;#card-picture-clip-path-025&quot;);"><div class="card__picture-border"><div class="card__picture background-image-2039" style="background-color: rgb(248, 236, 124);"></div></div></div><div class="card__detail">
                        <h4><a href="/articles/kakie-nuzhni-sotrudniki-v-avtolombard">Какие нужны сотрудники в автоломбард</a></h4>
                    </div>
                </li>
                <li class="card card-list__card">
                    <div class="card__picture-wrapper" style="clip-path: url(&quot;#card-picture-clip-path-009&quot;);"><div class="card__picture-border"><div class="card__picture background-image-2040" style="background-color: rgb(246, 224, 221);"></div></div></div><div class="card__detail">
                        <h4><a href="/articles/oshibki-pri-otkrytii-avtolombarda">Самые частые ошибки при открытии автоломбарда</a></h4>
                    </div>
                </li>
                <li class="card card-list__card">
                    <div class="card__picture-wrapper" style="clip-path: url(&quot;#card-picture-clip-path-021&quot;);"><div class="card__picture-border"><div class="card__picture background-image-2038" style="background-color: rgb(134, 111, 57);"></div></div></div><div class="card__detail">
                        <h4><a href="/articles/finansovye-pokazateli-po-periodam/">Финансовые показатели автоломбарда</a></h4>
                    </div>
                </li>
                <li class="card card-list__card">
                    <div class="card__picture-wrapper" style="clip-path: url(&quot;#card-picture-clip-path-021&quot;);"><div class="card__picture-border"><div class="card__picture background-image-2041" style="background-color: rgb(134, 111, 57);"></div></div></div><div class="card__detail">
                        <h4><a href="/articles/otchetnost-i-nadzornye-organy">Отчетность и надзорные органы автоломбардов</a></h4>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</section>