@*<div class="social-buttons">
    <div class="item">
        <a href="https://vk.com/share.php?url=#" rel="noopener noreferrer" target="_blank"><span class="icon-vk"></span></a>
    </div>
    <div class="item">
        <a href="https://t.me/share/url?url=#" rel="noopener noreferrer" target="_blank"><span class="icon-telegram"></span></a>
    </div>
</div>*@