@*<div class="footer__services">
    <div class="footer__social-buttons">
        <a class="button button_with-margin" tabindex="0" href="/feedback/">
            <span class="button__label">Написать нам</span>
        </a>
        <div class="social-buttons white">
            <div class="item">
                <a href="https://t.me/fincult_info" rel="noopener noreferrer" target="_blank"><span class="icon-telegram"></span></a>
            </div>
            <div class="item">
                <a href="https://vk.com/fincultinfo" rel="noopener noreferrer" target="_blank"><span class="icon-vk"></span></a>
            </div>
            <div class="item">
                <a href="https://ok.ru/group/55608670814231" rel="noopener noreferrer" target="_blank"><span class="icon-ok"></span></a>
            </div>
            <div class="item">
                <a href="https://www.youtube.com/channel/UCmLiKX9HVtX2wOR1Xz9gn3A" rel="noopener noreferrer" target="_blank"><span class="icon-youtube"></span></a>
            </div>
            <div class="item">
                <a href="https://zen.yandex.ru/fincultinfo" rel="noopener noreferrer" target="_blank"><span class="icon-zen"></span></a>
            </div>
            <div class="item">
                <a href="https://yandex.ru/q/org/finansovaia_kultura/" rel="noopener noreferrer" target="_blank"><span class="icon-q"></span></a>
            </div>
        </div>
    </div>
</div>*@