@{
    ViewData["Title"] = "Аналитика данных";
}

<div class="page article-page">
    <div class="dark-theme article-header article-header_without-picture" style="background: rgb(224, 175, 71);">
        <div class="container">
            <div class="article-header__container">
                <div>
                    <partial name="_PageTagsPartial" />
                    <section>
                        <h1>Аналитика данных ломбардов</h1>
                        <div class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</div>
                    </section>
                    <partial name="_ShareLinksPartial" />
                </div>
            </div>
        </div>
    </div><div class="container">
        <article class="article">
            <section id="otsenite-zhiznesposobnost-idei">
                <section class="article__text-with-image clear-margin-bottom position-image-top">
                    <div class="image"><img alt="" src="/images/art1.jpeg"></div>
                    <h2>What is Lorem Ipsum?</h2>
                    <div class="article__paragraph">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        <ul>
                            <li class="strong-marker"><strong>Contrary to popular belief</strong><br class="new-line">Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old</li>
                            <li class="strong-marker"><strong>Richard McClintock, a Latin professor</strong><br class="new-line">at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</li>
                        </ul>
                    </div>
                </section>
                <section class="article__text-with-image clear-margin-bottom position-image-top" id="">
                    <div class="image">
                        <img alt="" src="/images/art2.jpeg">
                    </div>
                    <div class="article__paragraph">
                        <p>orem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
                    </div>
                </section>
                <section class="article__text-icon article__text-icon_icon-info" id="">
                    <div class="article__paragraph">
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                    </div>
                </section>
            </section>
            <section id="zaregistriruyte-biznes">
                <section class="article__text clear-margin-bottom" id="zaregistriruyte-biznes">
                    <h2>Why do we use it?</h2>
                </section>
                <section class="article__video" id="">
                    <div class="external-video">
                        <div class="external-video__poster" style="background-image: url(&quot;https://i1.ytimg.com/vi/4traef5T_oI/maxresdefault.jpg&quot;);"></div><div class="external-video__video-wrapper"></div>
                    </div>
                </section>
                <section class="article__text clear-margin-bottom" id="">
                    <div class="article__paragraph">
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                        </p>
                    </div>
                </section>
            </section>
            <section class="article-publish-date article__text">
                <div class="article__paragraph">15.06.2022 11:16</div>
            </section>
        </article>
        <section>
            <div class="end-of-article">
                <div class="end-of-article__container">
                    <div class="end-of-article__image" style="background: url(&quot;/images/end.jpeg&quot;) 0% 0% / cover rgb(59, 84, 151);"></div><div class="end-of-article__title">Конец</div>
                </div>
            </div>
        </section>

        @*Блок дополнииельных материалов перед футером*@
        <partial name="_ReadmorePartial" />

    </div>
</div>