@{ Layout = "_Layout";}

<div class="grid grid-2-1">
    <div>
        <p>
            Здесь вы можете задать вопрос, если какая-то часть текста осталась
            непонятной, или оставить заявку на получение нашей помощи.
        </p>
        <p>
            Получить оперативные ответы на другие вопросы вы можете через наш <a href="https://t.me/xlombardbot">телеграм-бот</a>.
            <br />А также в группе <a href="https://t.me/+SYNZ3mMKFeYzYTAy">сообщества автоломбардов</a>.
        </p>
    </div>
</div>
<div class="grid grid-2-1">
    <div class="form__new">
        <script>!function (a, m, o, c, r, m) { a[o + c] = a[o + c] || { setMeta: function (p) { this.params = (this.params || []).concat([p]) } }, a[o + r] = a[o + r] || function (f) { a[o + r].f = (a[o + r].f || []).concat([f]) }, a[o + r]({ id: "965251", hash: "f4c3ca4d48f0350088d5977ccd2f2627", locale: "ru" }), a[o + m] = a[o + m] || function (f, k) { a[o + m].f = (a[o + m].f || []).concat([[f, k]]) } }(window, 0, "amo_forms_", "params", "load", "loaded");</script>
        <script id="amoforms_script_965251" async="async" charset="utf-8" src="https://forms.amocrm.ru/forms/assets/js/amoforms.js?1658013808"></script>
    </div>
    <div class="feedback__info">
        <p>
            Если вы предпочитаете общаться по WhatsApp'у, то оставьте номер телефона в этой форме и напишите ваш вопрос. <br />Мы свяжемся с вами через WhatsApp как только сможем.            
        </p>
        <div class="feedback__phones">
            <div class="feedback__phone">
                <div class="feedback__phone_title"></div>
                <div class="feedback__phone_description"></div>
            </div>
            <div class="feedback__phone">
                <div class="feedback__phone_title"></div>
                <div class="feedback__phone_description"></div>
            </div>
        </div>
    </div>
</div>