@{
    ViewData["Title"] = "Часто задаваемые вопросы";
}

<div class="page article-page">
    <div class="dark-theme article-header article-header_without-picture" style="background: rgb(51, 153, 153);">
        <div class="container">
            <div class="article-header__container">
                <div>
                    <partial name="_PageTagsPartial" />
                    <section>
                        <h1>Часто задаваемые вопросы</h1>
                    </section>
                    <partial name="_ShareLinksPartial" />
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <article class="article">
            <section>
                <section class="article__text-with-image clear-margin-bottom position-image-top">
                    <div class="article__paragraph">
                        <aside>
                            💡 Можно ли привлекать инвесторов (заемные деньги) в автоломбард?

                        </aside>

                        <aside>
                            💡 При каком кредитном портфеле автоломбард начинает приносить прибыль?

                        </aside>

                        <aside>
                            💡 Сколько можно нужно вложить денег, чтобы открыть автоломбард?

                        </aside>

                        <aside>
                            💡 Зачем необходимо подпись владельца в ПТС при залоге?

                        </aside>

                        <aside>
                            💡 Как правильно оценить автомобиль

                        </aside>

                        <aside>
                            💡 Как забрать автомобиль у заемщика при схеме работы “под ПТС”

                        </aside>

                        <aside>
                            💡 Как начать делопроизводство по суду при дефолте заемщика

                        </aside>
                    </div>
                </section>
            </section>
            <section class="article-publish-date article__text">
                <div class="article__paragraph">15.06.2022 11:16</div>
            </section>
        </article>
        <section>
            <div class="end-of-article">
                <div class="end-of-article__container">
                    <div class="end-of-article__image" style="background: url(&quot;/images/end.jpeg&quot;) 0% 0% / cover rgb(59, 84, 151);"></div><div class="end-of-article__title">Конец</div>
                </div>
            </div>
        </section>

        @*Блок дополнииельных материалов перед футером*@
        <partial name="_ReadmorePartial" />

    </div>
</div>