@{
    ViewData["Title"] = "Чем мы можем помочь при открытии автоломабарда";
}

<div class="page article-page">
    <div class="dark-theme article-header article-header_without-picture" style="background: rgb(110, 135, 203);">
        <div class="container">
            <div class="article-header__container">
                <div>
                    <partial name="_PageTagsPartial" />
                    <section>
                        <h1>Чем мы можем помочь при открытии автоломбарда</h1>
                    </section>
                    <partial name="_ShareLinksPartial" />
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        <article class="article">
            <section>
                <section class="article__text-with-image clear-margin-bottom position-image-top">
                    <h2>Подготовим документы</h2>
                    <div class="article__paragraph">
                        <p>Подготовим все необходимые документы для регистрации автоломбарда в зависимости от выбранной формы организации.</p>
                    </div>
                </section>
                <section class="article__text-with-image clear-margin-bottom position-image-top">
                    <h2>Создадим сайт</h2>
                    <div class="article__paragraph">
                        <p>Создадим сайт, подключим личный кабинет клиента, подключим эквайринги для осуществления платежей клиентов.</p>
                    </div>
                </section>
                <section class="article__text-with-image clear-margin-bottom position-image-top">
                    <h2>Настроим программы</h2>
                    <div class="article__paragraph">
                        <p>Посоветуем и настроим программное обеспечение для работы автоломбарда</p>
                    </div>
                </section>
                <section class="article__text-with-image clear-margin-bottom position-image-top">
                    <h2>Наладим инфраструктуру</h2>
                    <div class="article__paragraph">
                        <p>Подберем подрядчиков для ведения бухгалтерии, сдачи отчетности, эвакуации ТС и т.д.</p>
                    </div>
                </section>
            </section>          
            <section class="article-publish-date article__text">
                <div class="article__paragraph">15.06.2022 11:16</div>
            </section>
        </article>
        <section>
            <div class="end-of-article">
                <div class="end-of-article__container">
                    <div class="end-of-article__image" style="background: url(&quot;/images/end.jpeg&quot;) 0% 0% / cover rgb(59, 84, 151);"></div><div class="end-of-article__title">Конец</div>
                </div>
            </div>
        </section>

        @*Блок дополнииельных материалов перед футером*@
        <partial name="_ReadmorePartial" />

    </div>
</div>