@{
    ViewData["Title"] = "Как открыть Автоломбард222111";
}

<div class="page article-page">
    <div class="dark-theme article-header article-header_without-picture" style="background: rgb(59, 84, 151);">
        <div class="container">
            <div class="article-header__container">
                <div>
                    <partial name="_PageTagsPartial" />
                    <section>
                        <h1>Как открыть автоломбард</h1>
                        <div class="description">Прежде чем открывать автоломбард необходимо детально ознакомиться с его спецификой работы, так как в зависимости от схемы работы владелец сталкивается с различными рисками, которые напрямую влияют на доходность. </div>
                    </section>
                    <partial name="_ShareLinksPartial" />
                </div>
            </div>
        </div>
    </div>

    
    <div class="container">
        <article class="article">
            <section>
                <section class="article__text-with-image clear-margin-bottom position-image-top">
                    <div class="image"><img alt="" src="/images/art1.jpeg"></div>
                    <h2>Определите схему работы</h2>
                    <div class="article__paragraph">
                        <p>Существует две принципиально разные схемы работы автоломбарда <strong>под&nbsp;ПТС</strong> и <strong>под&nbsp;стоянку</strong>. Данные названия являются профессиональными терминами (жаргонными), принятыми на рынке автоломбардов. В схеме <strong>под&nbsp;ПТС</strong> предмет залога остается у первоначального владельца ТС и он продолжает пользоваться автомобилем в своих интересах. Тогда как схема <strong>под&nbsp;стоянку</strong> предполагает постановку автомобиля на стоянку автоломбарда и он (автомобиль) остается там до момента выкупа предмета залога.</p>
                        <p>С точки зрения рынка, схема <strong>под&nbsp;ПТС</strong> является наиболее востребованной в настоящий момент, так как подавляющее большинство автовладельцев стремятся оставить за собой право использовать автомобиль в период займа. По данным нашего аналитического агентства более 90% займов выдается <strong>под&nbsp;ПТС</strong> и менее 10% <strong>под&nbsp;стоянку</strong>. Схема <strong>под&nbsp;стоянку</strong> иногда называется <strong>короткие&nbsp;займы</strong>, так как под стоянку обычно займ предоставляется на срок до 1-го месяца с последующим продлением договора в случае НЕ выкупа ТС. В свою очередь схема <strong>под&nbsp;ПТС</strong> практически всегда предполагает работу по графику платежей, который подписывается сразу на несколько месяцев (до 5-ти лет) и клиент ежемесячно выплачивает компании оговоренную в графике платежей сумму. По аналогии с <strong>короткими</strong> займами схему <strong>под&nbsp;ПТС</strong> нередко называются <strong>длинными</strong>.</p>
                    </div>
                </section>
                <section class="article__text-icon article__text-icon_icon-info clear-margin-bottom">
                    <div class="article__paragraph">
                        <p>Существует заблуждение, что предметом залога в схеме <strong>под&nbsp;ПТС</strong> является ПТС автомобиля. Это конечно не так. С точки зрения юридической базы предметом залога ВСЕГДА является автомобиль, а ПТС в схеме <strong>под&nbsp;ПТС</strong> изымается компанией только для минимизации рисков перепродажи уже заложенного автомобиля.</p>
                    </div>
                </section>
                <section class="article__text">
                    <div class="article__paragraph">
                        <p>Каждая из схем залога автомобиля предполагает различные риски (о которых мы подробно расскажем ниже) и юридическое обоснование схемы работы. Юридическое обоснование это форма организация юридического лица, которое предоставляет займы и документарная база, которая подписывается с заемщиком.</p>
                    </div>
                </section>
                <section class="article__text-with-image clear-margin-bottom position-image-top">
                    <div class="image">
                        <img alt="" src="/images/art2.jpeg">
                    </div>
                    <h2>Формы организации автоломбарда</h2>
                    <div class="article__paragraph">
                        <ul>
                            <li class="strong-marker"><strong>Залоговый билет. Схема: под стоянку.</strong><br class="new-line">По залоговым билетам работают классические ломбарды. Абсолютно белая схема с минимальными рисками как для автовладельца так и для ломбарда. Вся деятельность регулируется федеральным законом 196 ФЗ “О ломбардах”. Основные документы, подписываемые с заемщиком: залоговый билет, договор займа, акт приемки-передачи ТС. Единственным минусом классического ломбарда является возможность применения ТОЛЬКО схемы “под стоянку”.</li>
                            <li class="strong-marker"><strong>ДКП с отсрочкой перехода. Схема: под стоянку</strong><br class="new-line">Предполагает подписание с клиентом так называемого “ДКП с отсрочкой перехода права собственности на ТС”. Данный договор регламентирует переход права собственности на ТС от клиента к компании по истечение срока займа. Если клиент возвращает заем, то договор “ДКП” расторгается. Если же клиент заем НЕ возвращает, то договор вступает с силу и автомобиль переходит в собственность компании. Компания работает под ОКВЭД автосалона. К основным минусам относится возможность признать данный договор фиктивной сделкой, так как фактически компания осуществляет кредитную деятельность и не заключает с клиентом соответствующей документарной базы. Именно поэтому работа через “ДКП с отсрочкой” считается серой схемой и в настоящий момент применяется не более в 5% всех сделок.</li>
                            <li class="strong-marker"><strong>Договор займа + договор залога.<br class="new-line">Схема: под ПТС и под стоянку.</strong><br class="new-line">По такой схеме могут работать классические МКК и МФО или КПК и в этом случае схема является абсолютно белой, так как регулируется 151-ФЗ. Основной сложностью для компании в работе через МКК является жесткое регулирование со стороны уполномоченных органов и сложности со вступлением в право собственности на заложенный автомобиль. Изъятие авто и его реализация должна осуществляться только через СУД и ФССП. Если заемщик не готов добровольно расстаться со своим автомобилем, то предстоит длительная судебная процедура (3-4 месяца) и реализация через ФССП (3-4 месяца). Если при этом используется схема “под ПТС”, то заемщики зачастую просто прячут свои автомобили, делая процедуру изъятия и реализации еще более сложной и рискованной. Помимо МКК и МФО по указанным договорам могут работать ИП с ОКВЭД автосалона, но данная схема является “серой”, так как основной деятельностью автосалона будет являться заключение договоров займа и это может привести к аннулированию договоров и разборок с прокуратурой. Физические лица также могут воспользоваться договорами займа и залога для предоставления денежных средств заемщику. Займы между физическими лицами регулируются только гражданским кодексом РФ, но изъятие автомобиля и его реализация по прежнему будут оставаться в компетенции суда и ФССП. </li>
                            <li class="strong-marker"><strong>Обратный лизинг. Схема: под ПТС</strong><br class="new-line">С клиентом подписывается ДКП, по которому право собственности на автомобиль СРАЗУ передается компании, после чего этот-же автомобиль передается клиенту в пользование по договору лизинга, который заключается на несколько месяцев. Если клиент выплачивает заем в срок, то по договору лизинга собственность на автомобиль переходит обратно к заемщику. Если же заем НЕ возвращается, то компания сразу забирает автомобиль (без судов и фссп), так как является собственником ТС и реализует его на открытом рынке. Данная форма имеет два очевидных преимущества: популярная среди заемщиков схема работы “под ПТС”, относительно простой способ изъятия и реализации автомобиля. Но по факту данная схема является “серой” с точки зрения ЦБ. Формально, компании не нарушают никаких законов и пользуются лазейками в текущем законодательстве, но так как данная сфера регулируется 164 ФЗ (О лизинге), то ЦБ усматривает в данной форме незаконное предпринимательство, и все компании работающие по обратному лизингу имеют большой риск проверок прокуратуры (по 14.56 ГК РФ или 171 УК РФ).</li>
                        </ul>
                    </div>
                </section>
            </section>
            <section>
                <section class="article__text clear-margin-bottom">
                    <h2>Основные риски при работе автоломбарда</h2>
                    <div class="article__paragraph">
                        <p>После того как вы&nbsp;составили генеральную стратегию, нужно все детально просчитать. В&nbsp;этом вам поможет бизнес-план. Этот план понадобится и&nbsp;вам самому, и&nbsp;вашим бизнес-партнерам, и&nbsp;потенциальным инвесторам или кредиторам.</p><p>Бизнес-план должен содержать подробное описание продукта с&nbsp;вариантами его дальнейшей трансформации, анализ рынка с&nbsp;описанием всех групп конкурентов и&nbsp;характеристики возможных покупателей.</p><p>Без цифр бизнес-план, конечно, не&nbsp;будет убедительным. Вам нужно заранее понять, насколько рентабелен окажется бизнес. Поэтому бизнес-план должен включить несколько обязательных составляющих:</p><ul><li>производственный план и&nbsp;расчет себестоимости товара или услуги;</li><li>план продвижения и&nbsp;смету затрат на&nbsp;рекламу и&nbsp;другие виды коммуникации с&nbsp;клиентами;</li><li>организационный план и&nbsp;оценку зарплат сотрудников, а&nbsp;также внешних (например, курьерских) услуг;</li><li>финансовый план, который учитывает все источники финансирования и&nbsp;доходы, а&nbsp;также все, в&nbsp;том числе разовые расходы и&nbsp;налоги.</li></ul><p>В&nbsp;итоге бизнес-план должен показать, сколько денег вам потребуется на&nbsp;запуск проекта, когда он&nbsp;выйдет на&nbsp;самоокупаемость, через какое время удастся вернуть вложенные средства и&nbsp;на&nbsp;какую прибыль можно рассчитывать.</p><p>Для того чтобы составить бизнес-план, можно воспользоваться, например, <a href="http://www.veb.ru/common/upload/files/veb/invest/rec2.pdf" rel="noopener noreferrer" target="_blank">формой</a>, которую разработал Внешэкономбанк.</p>
                    </div>
                </section>
            </section>
            <section>
                <section class="article__text clear-margin-bottom">
                    <h2>Подумайте о&nbsp;привлечении инвестиций</h2>
                </section>
                <section class="article__text-with-image clear-margin-bottom position-image-top" id="">
                    <div class="image">
                        <img alt="" src="/images/art3.jpeg">
                    </div>
                    <div class="article__paragraph">
                        <p>Теперь можно думать о&nbsp;том, как привлечь в&nbsp;ваш бизнес деньги. Сделать это можно разными способами:</p><ul><li class="strong-marker"><strong>Обратиться за&nbsp;господдержкой</strong><br class="new-line">Если ваш бизнес важен для людей из&nbsp;вашего региона или даже всей страны, то&nbsp;государство может помочь вам <a href="/article/kak-malomu-biznesu-poluchit-kredit-pod-gosgarantiyu/">гарантиями</a>, <a href="/article/kak-poluchit-lgotnyy-kredit-dlya-malogo-biznesa/">недорогими кредитами</a> или займами, <a href="/article/chto-takoe-lizing/">льготным лизингом</a> и&nbsp;арендой.</li><li class="strong-marker"><strong>Собрать деньги с&nbsp;помощью </strong><a href="/article/kraudfanding-kak-privlech-dengi-s-pomoshchyu-kollektivnogo-finansirovaniya/"><strong>краудфандинга</strong></a><br class="new-line">Если вы&nbsp;уверены, что ваш проект будет интересен и&nbsp;полезен большому количеству людей, можно попробовать выйти на&nbsp;них напрямую через специальные интернет-площадки. Формат краудфандинга будет зависеть от&nbsp;типа вашего бизнеса.</li><li class="strong-marker"><strong>Привлечь инвестора</strong><br class="new-line">Частные инвесторы иногда инвестируют в&nbsp;стартапы, чаще всего в&nbsp;технологические. Для поиска венчурных инвесторов тоже есть специальные интернет-площадки.</li></ul>
                    </div>
                </section>
            </section>
            <section>
                <section class="article__text clear-margin-bottom">
                    <h2>Зарегистрируйте бизнес</h2>
                </section>
                <section class="article__video">
                    <div class="external-video">
                        <div class="external-video__poster" style="background-image: url(&quot;https://i1.ytimg.com/vi/4traef5T_oI/maxresdefault.jpg&quot;);"></div><div class="external-video__video-wrapper"></div>
                    </div>
                </section>
                <section class="article__text clear-margin-bottom">
                    <div class="article__paragraph">
                        <p>Вы&nbsp;можете вести бизнес как индивидуальный предприниматель (ИП) или как юридическое лицо (обычно ООО).</p><ul><li class="strong-marker"><strong>ИП</strong>&nbsp;подойдет тем, у&nbsp;кого маленький бизнес&nbsp;— например, небольшой магазин или производство.</li><li class="strong-marker"><strong>ООО</strong>&nbsp;— это фирма, которую можно открыть самому или вместе с&nbsp;партнерами. Подходит тем, кто планирует бизнес с&nbsp;большими оборотами, и&nbsp;тем, кто будет переводить крупные суммы по&nbsp;безналичному расчету.</li></ul><p>У&nbsp;каждой формы свои преимущества и&nbsp;недостатки.</p><p>ИП легче зарегистрировать и закрыть, чем ООО. Требований к отчетности индивидуального предпринимателя меньше. Зато ИП не может привлекать инвестиции – только брать кредиты и займы или оформлять лизинг.</p><p>В случае нарушений штрафы ООО на порядок выше, чем у ИП. Но по долгам ООО отвечает только имуществом организации, а учредитель ИП – и своим собственным имуществом, которым владеет как частное лицо.</p>
                    </div>
                </section>
            </section>
            <section>
                <section class="article__text clear-margin-bottom">
                    <h2>Выберите форму налогообложения</h2>
                    <div class="article__paragraph">
                        <ul>
                            <li class="strong-marker"><strong>Общий режим налогообложения.</strong>&nbsp;Подойдет тем, кому обязательно нужно платить НДС (налог на&nbsp;добавленную стоимость, в&nbsp;России он&nbsp;составляет 20%), и тем, у кого есть льготы по налогу на прибыль, например, образовательным или медицинским организациям.</li>
                            <li class="strong-marker"><strong>Упрощенная система налогообложения.</strong>&nbsp;Очень удобна для малого бизнеса, но доход должен быть не выше 150 млн рублей в год, а число сотрудников — не более 100.</li>
                            <li class="strong-marker"><strong>Патент.</strong>&nbsp;Подходит тем, кому проще заплатить фиксированную сумму, чем заниматься документацией.</li>
                            <li class="strong-marker"><strong>Налог на профессиональный доход. </strong>Оптимален для тех, у кого нет наемных сотрудников, а доход от бизнеса не превышает 2,4 млн рублей в год. Подробнее читайте в <a href="/article/kto-takie-samozanyatye-kak-poluchit-etot-status-i-chto-on-daet/">статье про самозанятых</a>.</li>
                            <li class="strong-marker"><strong>Единый сельскохозяйственный налог. </strong>Выгоден, но подходит только фермерам – предприятие должно не просто перерабатывать или продавать сельхозпродукты, но само их производить.</li>
                        </ul>
                        <p>О&nbsp;том, чем отличаются друг от&nbsp;друга формы налогообложения и&nbsp;как выбрать подходящую для себя, читайте <a href="/article/kakie-nalogy-platit-ip/">в&nbsp;нашей статье</a>.</p>
                    </div>
                </section>
            </section>
            <section id="zaymites-detalyami">
                <section class="article__text clear-margin-bottom">
                    <h2>Займитесь деталями</h2>
                    <div class="article__paragraph">
                        <p>После того как вы&nbsp;определились с&nbsp;главными вопросами, вам предстоит заняться еще множеством деталей.</p>
                        <ul>
                            <li>Открыть расчетный счет <a href="/article/kak-vybrat-bank_01/">в&nbsp;банке</a>.</li>
                            <li>Завести онлайн-кассу. По&nbsp;<a href="http://www.consultant.ru/cons/cgi/online.cgi?req=doc&amp;base=LAW&amp;n=200962&amp;fld=134&amp;dst=1000000001,0&amp;rnd=0.5357044986823674#07542287460807882" rel="noopener noreferrer" target="_blank">закону</a> многие предприниматели (в&nbsp;основном&nbsp;те, кто занимается торговлей) должны были начать использовать онлайн-кассу до&nbsp;1&nbsp;июля 2018&nbsp;года. Но&nbsp;некоторым бизнесменам дали отсрочку до&nbsp;1&nbsp;июля 2019&nbsp;года. На&nbsp;сайте налоговой можно пройти тест «<a href="https://kkt-online.nalog.ru/#" rel="noopener noreferrer" target="_blank">Нужна&nbsp;ли мне касса?</a>». Так вы&nbsp;узнаете, можете&nbsp;ли вы&nbsp;воспользоваться отсрочкой или касса вам нужна уже сейчас.</li>
                            <li>Проверить соответствие помещения требованиям пожарной безопасности.</li>
                            <li>Уточнить <a href="http://www.rospotrebnadzor.ru/documents/documents.php?back_url_admin=%2Fbitrix%2Fadmin%2Fiblock_admin.php%3Ftype%3Ddocuments%26lang%3Dru%26admin%3DY&amp;arrFilter_ff%5BNAME%5D=&amp;arrFilter_pf%5BVID_DOC%5D=112&amp;arrFilter_pf%5BNUM_DOC%5D=&amp;arrFilter_pf%5BDAT_DOC%5D=&amp;arrFilter_pf%5BGOD%5D%5BLEFT%5D=&amp;arrFilter_pf%5BGOD%5D%5BRIGHT%5D=&amp;set_filter=Y" rel="noopener noreferrer" target="_blank">санитарные требования</a>, если вы&nbsp;планируете работать с&nbsp;продуктами питания.</li>
                            <li>Изучить <a href="http://www.rospotrebnadzor.ru/deyatelnost/zpp/" rel="noopener noreferrer" target="_blank">права потребителей</a>.</li>
                            <li>Проверить соответствие вашего продукта <a href="http://standard.gost.ru/wps/portal/!ut/p/c5/04_SB8K8xLLM9MSSzPy8xBz9CP0os3gLHzeXUFNLYwMLD1dLA09vR39DD68g42B_A_1wkA7cKtyNCMgboMkbhHk7G3j6GhoGuAaFGFgEmELkDXAARwN9P4_83FT9guzsII9yR0UAR_xMyg!!/dl3/d3/L2dJQSEvUUt3QS9ZQnZ3LzZfOExGRFU1OTMwOEhFOTBJS0FPMUhKUjNTNDc!/" rel="noopener noreferrer" target="_blank">государственным стандартам</a>.</li>
                            <li>Узнать, нужно&nbsp;ли сертифицировать, декларировать или регистрировать товары, если вы&nbsp;ввозите их&nbsp;из-за рубежа (списки таких товаров есть на&nbsp;сайтах сертификационных компаний).</li>
                        </ul>
                    </div>
                </section>
            </section>
            <section>
                <section class="article__text clear-margin-bottom">
                    <h2>Если вы открываете бизнес, помните</h2>
                </section>
                <section class="article__text-with-image clear-margin-bottom position-image-top">
                    <div class="image">
                        <img alt="" src="/images/art4.jpeg">
                    </div>
                    <div class="article__paragraph">
                        <ul>
                            <li>Начать стоит с&nbsp;оценки идеи и&nbsp;составления генеральной стратегии вашего бизнеса.</li>
                            <li>Если идея стоящая, нужно написать подробный бизнес-план. Он&nbsp;станет вашим главным ориентиром на&nbsp;первые полгода-год. Затем, возможно, потребуется его скорректировать.</li>
                            <li>Найдите источники финансирования.</li>
                            <li>Определитесь с&nbsp;удобной формой ведения бизнеса и&nbsp;отчетов перед налоговой</li>
                            <li>Уделите внимание деталям. Подключение онлайн-кассы, пожарная безопасность и&nbsp;условия сертификации&nbsp;— тонкости, которые нужно учесть, чтобы потом не&nbsp;платить штрафы. Если не&nbsp;можете разобраться в&nbsp;нюансах сами, посоветуйтесь с&nbsp;более опытным предпринимателем, который работает в&nbsp;той&nbsp;же сфере, что и&nbsp;вы. Или обратитесь к&nbsp;бизнес-консультантам, они помогут разрешить трудные вопросы. Консультанты могут предложить как частичное, так и&nbsp;полное сопровождение вашего бизнеса.</li>
                        </ul><p>Задач перед любым начинающим предпринимателем стоит много. Но&nbsp;свое дело, которое будет приносить вам деньги и&nbsp;удовлетворение, того стоит.</p><p><em>Текст подготовлен при поддержке экспертов Общероссийской общественной организации малого и&nbsp;среднего предпринимательства </em><a href="https://opora.ru/" rel="noopener noreferrer" target="_blank"><em>«Опора России»</em></a><em>.</em></p>
                    </div>
                </section>
            </section>
            <section class="article-publish-date article__text">
                <div class="article__paragraph">15.06.2022 11:16</div>
            </section>
        </article>
        <section>
            <div class="end-of-article">
                <div class="end-of-article__container">
                    <div class="end-of-article__image" style="background: url(&quot;/images/end.jpeg&quot;) 0% 0% / cover rgb(59, 84, 151);"></div><div class="end-of-article__title">Конец</div>
                </div>
            </div>
        </section>

        @*Блок дополнииельных материалов перед футером*@
        <partial name="_ReadmorePartial" />

    </div>
</div>