@{
    ViewData["Title"] = "Схемы ломбардов";
}

<div class="page article-page">
    <div class="dark-theme article-header article-header_without-picture" style="background: rgb(96, 191, 195);">
        <div class="container">
            <div class="article-header__container">
                <div>
                    <partial name="_PageTagsPartial" />
                    <section>
                        <h1>Сводная таблица схем ломбардов</h1>
                        <div class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</div>
                    </section>
                    <partial name="_ShareLinksPartial" />
                </div>
            </div>
        </div>
    </div><div class="container">
        <article class="article">
            <section>
                <section class="article__text-with-image clear-margin-bottom position-image-top">
                    <table class="table table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <th title="Field #1">FIELD1</th>
                                <th title="Field #2">Обратный лизинг</th>
                                <th title="Field #3">Залоговый билет</th>
                                <th title="Field #4">Договор займа+залога</th>
                                <th title="Field #5">ДКП с отсрочкой</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Популярность</td>
                                <td>65%</td>
                                <td>15%</td>
                                <td>15%</td>
                                <td>5%</td>
                            </tr>
                            <tr>
                                <td>Схема</td>
                                <td>под ПТС</td>
                                <td>под стоянку</td>
                                <td>под ПТС, под стоянку</td>
                                <td>под стоянку</td>
                            </tr>
                            <tr>
                                <td>Форма работы</td>
                                <td>Лизинг</td>
                                <td>Ломбард</td>
                                <td>МКК, МФО, Автосалон, Физ. лицо,</td>
                                <td>Автосалон</td>
                            </tr>
                            <tr>
                                <td>Вид деятельности</td>
                                <td>64.91</td>
                                <td>64.92.6</td>
                                <td>64.9 (для МКК), 45.11 (для автосалона)</td>
                                <td>45.11</td>
                            </tr>
                            <tr>
                                <td>Законность</td>
                                <td>Серая</td>
                                <td>Белая</td>
                                <td>Зависит от формы работы</td>
                                <td>Серая, но ближе к черной</td>
                            </tr>
                            <tr>
                                <td>Основной закон</td>
                                <td>164 ФЗ</td>
                                <td>196 ФЗ</td>
                                <td>151 ФЗ</td>
                                <td>ГК</td>
                            </tr>
                            <tr>
                                <td>Регулятор</td>
                                <td>ЦБ, РФМ</td>
                                <td>ЦБ, РФМ</td>
                                <td>ЦБ, РФМ</td>
                                <td>нет</td>
                            </tr>
                            <tr>
                                <td>Отчетность ЦБ</td>
                                <td>нет</td>
                                <td>да</td>
                                <td>да</td>
                                <td>нет</td>
                            </tr>
                            <tr>
                                <td>Постановка в залог</td>
                                <td>федресурс</td>
                                <td>нет</td>
                                <td>реестр залогов</td>
                                <td>нет</td>
                            </tr>
                            <tr>
                                <td>Передача данных в БКИ</td>
                                <td>да</td>
                                <td>нет</td>
                                <td>да</td>
                                <td>нет</td>
                            </tr>
                            <tr>
                                <td>Подпись в ПТС владельца ТС</td>
                                <td>да</td>
                                <td>нет</td>
                                <td>нет</td>
                                <td>да</td>
                            </tr>
                            <tr>
                                <td>Средняя ставка</td>
                                <td>07.May</td>
                                <td>8</td>
                                <td>07.May</td>
                                <td>6</td>
                            </tr>
                            <tr>
                                <td>Средняя сумма займа МСК</td>
                                <td>350 000</td>
                                <td>800 000</td>
                                <td>350 000</td>
                                <td>800 000</td>
                            </tr>
                            <tr>
                                <td>Средняя сумма займа регионы</td>
                                <td>250 000</td>
                                <td>600 000</td>
                                <td>250 000</td>
                                <td>600 000</td>
                            </tr>
                            <tr>
                                <td>% от оценочной стоимости</td>
                                <td>до 40%</td>
                                <td>до 80%</td>
                                <td>до 40%</td>
                                <td>до 80%</td>
                            </tr>
                            <tr>
                                <td>Тип займа</td>
                                <td>график платежей</td>
                                <td>короткий заем</td>
                                <td>график платежей</td>
                                <td>короткий заем</td>
                            </tr>
                            <tr>
                                <td>Период займа</td>
                                <td>до 60 мес</td>
                                <td>до 30 дней</td>
                                <td>до 60 мес</td>
                                <td>до 30 дней</td>
                            </tr>
                            <tr>
                                <td>Право собственности</td>
                                <td>сразу после заключения ДКП</td>
                                <td>через 60 дне после предоставления займа</td>
                                <td>после суда</td>
                                <td>через 30 дней после предоставления займа</td>
                            </tr>
                            <tr>
                                <td>Риск утраты залога</td>
                                <td>5% от портфеля</td>
                                <td>нет</td>
                                <td>3% от портфеля</td>
                                <td>нет</td>
                            </tr>
                            <tr>
                                <td>Риск заморозки портфеля</td>
                                <td>нет</td>
                                <td>прогнозируемо 30 дней (на срок льготного периода)</td>
                                <td>15% от портфеля на 6-12 месяцев</td>
                                <td>нет</td>
                            </tr>
                            <tr>
                                <td>Изъятие</td>
                                <td>сотрудники компании или специализированные подрядчики</td>
                                <td>нет</td>
                                <td>фссп</td>
                                <td>нет</td>
                            </tr>
                            <tr>
                                <td>Реализация</td>
                                <td>продажа на открытом рынке</td>
                                <td>торги по залогу</td>
                                <td>фссп</td>
                                <td>продажа на открытом рынке</td>
                            </tr>
                            <tr>
                                <td>Прибыль от реализации</td>
                                <td>большая</td>
                                <td>минимальная</td>
                                <td>меньше минимальной</td>
                                <td>не большая</td>
                            </tr>
                            <tr>
                                <td>Основной риск</td>
                                <td>проверки прокуратуры и ликвидация бизнеса</td>
                                <td>низкий спрос услуги на рынке</td>
                                <td>сложность изъятия и реализации залога</td>
                                <td>признание судом фиктивной сделки, ликвидация бизнеса</td>
                            </tr>
                            <tr>
                                <td>Прибыль на вложенные ДС в год</td>
                                <td>60%</td>
                                <td>70%</td>
                                <td>40%</td>
                                <td>90%</td>
                            </tr>
                        </tbody>
                    </table>
                </section>                
            </section>
            <section class="article-publish-date article__text">
                <div class="article__paragraph">15.06.2022 11:16</div>
            </section>
        </article>
        <section>
            <div class="end-of-article">
                <div class="end-of-article__container">
                    <div class="end-of-article__image" style="background: url(&quot;/images/end.jpeg&quot;) 0% 0% / cover rgb(59, 84, 151);"></div><div class="end-of-article__title">Конец</div>
                </div>
            </div>
        </section>

        @*Блок дополнииельных материалов перед футером*@
        <partial name="_ReadmorePartial" />

    </div>
</div>