<div class="modal" style="padding-right: 0px;">
    <div class="close-modal__container">&#10006;</div>
    <div class="container">
        <div class="modal-content">
            <div class="modal-menu">
                <div class="logo logo_alternative" style="padding-top: 5px;">
                    <a href="/">
                        <div class="logo__light logo__dark"></div>
                    </a>
                </div>
                <div class="modal-menu__container">
                    <div>
                        <div class="pages-menu">
                            <partial name="_FooterMenuPartial" />
                        </div>
                        <div style="margin-top: 50px;">
                            <div class="footer__social-buttons">
                                <a class="button button_with-margin" tabindex="0" href="/contact">
                                    <span class="button__label">Написать нам</span>
                                </a>
                                <div class="social-buttons white">
                                    <div class="item">
                                        <a href="https://t.me/xlombardbot" rel="noopener noreferrer">
                                            <img src="/images/icons/telegram-black.png" alt="">
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a href="#" rel="noopener noreferrer">
                                            <img src="/images/icons/vk-black.png" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>